body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  /* height: 200px; */
  height: 50vh;
  background-color: lightblue;
  border: 10px solid #ccc;
  margin: auto;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
